// Company: Eureka²
// Developer: Stefano Graziato
// Email: stefano.graziato@eurekaa.it
// Homepage: http://www.eurekaa.it
// GitHub: https://github.com/eurekaa

// File Name: desktop
// Created: 26/09/13 16.51

doctype 5
html
    head
        title espreXXo.js
        meta(name='viewport', content='width=device-width', initial-scale='1.0')
        script(src='require.js', data-main='bootstrap')
        script(src='scripts/libs/quadrix/libs/polymer/polymer.js')
        link(rel="import", href='scripts/libs/quadrix/widgets/menu.html')

    body
        qx-menu(test='ciao!')