// Company: Eureka²
// Developer: Stefano Graziato
// Email: stefano.graziato@eurekaa.it
// Homepage: http://www.eurekaa.it
// GitHub: https://github.com/eurekaa

// File Name: menu
// Created: 26/09/13 16.42


polymer-element(name='qx-menu', attributes='test')
    template
        span I'm <b>tk-element</b>. This is my Shadow DOM.
    script(src='menu2.js')