@import url('D:/eurekaa/progetti/eurekaa.it/src/styles/lib/elements.less');

@images_dir: '../media/images';
@layout_width: 900px;

body {
  background-image: url('@{images_dir}/background.jpg');
  color: #ffffff;
  margin: auto;
  text-align: center;
  overflow: hidden;
}

h1{
  font-family: 'klavika_medium';
  color: #ffffff;
  margin: 30px 0 0 0;
  padding: 0;
}

#layout{
  width: 100%;
  padding: 0;
  margin: 0;
}

#header {
  position: relative;
  width: @layout_width;
  height: 180px;
  z-index: 60;
}

#logo_rubik {
  position: relative;
  left: 10px;
}

#logo_eurekaa {
  position: relative;
  top: -65px;
}

#stripe {
  position: relative;
  width: 100%;
  height: 330px;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  z-index: 50;
  .gradient(#639ed3, #639ed3, #1f589a);
}

nav {
  position: relative;
  width: @layout_width;
  z-index: 40;
  margin: 2px auto;
  font-family: 'klavika_medium';
}

#keyboard {
  position: relative;
  top: -55px;
  z-index: 50;
}

#breadcrumbs {
  width: @layout_width;
  text-align: left;
  font-family: 'klavika_medium';
  font-size: 20pt;
  color: #ffffff;
  margin: 30px auto auto auto;
  padding: 0;
}

#main {
  position: relative;
  top: -20px;
  z-index: 20;
  width: @layout_width;
  padding: 20px 0;
  margin: 0 auto;
  text-align: left;
  min-height: 500px;
  font-family: 'klavika_light';
  font-size: 14pt;
  color: #9E9E9E;
}