@import 'D:/eurekaa/progetti/eurekaa.it/src/styles/libs/elements.less';
@layout_width: 900px;

.menu ul {
  list-style-type: none;
  height: 40px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.menu ul li {
  float: left;
  height: 18px;
  padding: 12px 10px 0px 10px;
  margin: 0 1px;
  font-family: 'zurich_normal';
  text-transform: uppercase;
  font-size: 11pt;
  text-shadow: 1px 2px #192836;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  .gradient(#353F31, #353F31, #495744);
  .border-radius(0, 1px, 1px, 0);
  .transition-duration(0.4s);
}

.menu ul li:hover, .menu ul li:first-child:hover, .menu ul li:last-child:hover {
  padding-top: 25px;
//  .border-radius(0, 5px, 5px, 0);
//  .gradient(#639ed3, #1f589a, #639ed3);
  .transition-duration(0.2s);
}

.menu ul li.active, .menu ul li.active:hover {
  position: relative;
  height: 18px;
  padding: 35px 10px 0px 10px;
  cursor: default;
  .border-radius(0, 2px, 2px, 0);
  .gradient(#62725E, #879E82, #62725E);
  .transition-duration(0.2s);
}

.menu ul li a {
  padding: 0;
}

