@import 'lib/elements';
@layout_width: 900px;

#menu {
  position: relative;
  width: @layout_width;
  left: 5px;
  z-index: 40;
  margin: 2px auto;
  font-family: 'klavika_medium';
}

#menu ul {
  list-style-type: none;
  height: 40px;
  width: 100%;
  margin: 0;
  padding: 0;
}

#menu ul li {
  float: left;
  height: 20px;
  padding: 15px 10px 5px 10px;
  margin: 0 1px;
  cursor: pointer;
  .gradient(#326299, #326299, #0f345e);
  .border-radius(0, 3px, 3px, 0);
  .transition-duration(0.4s);
}

#menu ul li.active, #menu ul li.active:hover {
  padding-top: 25px;
  .border-radius(0, 5px, 5px, 0);
  .gradient(#f25b29, #f25b29, #f9a559);
}

#menu ul li:hover, #menu ul li:first-child:hover, #menu ul li:last-child:hover {
  padding-top: 25px;
  .border-radius(0, 5px, 5px, 0);
  .gradient(#639ed3, #1f589a, #639ed3);
  .transition-duration(0.2s);
}

#menu ul li a {
  font-family: 'klavika_medium';
  font-size: 16pt;
  text-shadow: 1px 2px #192836;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  padding: 0 10px;
}