// Company: Eureka²
// Developer: Stefano Graziato
// Email: stefano.graziato@eurekaa.it
// Homepage: http://www.eurekaa.it
// GitHub: https://github.com/eurekaa

// File Name: curriculum
// Created: 21/08/13 23.02

body
    .accordion
        h3 test1
        div(data-lang='curriculum#main')

        h3 test2
        div(data-lang='curriculum#main')