// Company: Eureka²
// Developer: Stefano Graziato
// Email: stefano.graziato@eurekaa.it
// Homepage: http://www.eurekaa.it
// GitHub: https://github.com/eurekaa

// File Name: menu
// Created: 22/08/13 1.55


body
    ul
        li: a(data-link='eurekaa', data-lang='menu#eurekaa')
        li: a(data-link='services', data-lang='menu#services')
        li: a(data-link='curriculum', data-lang='menu#curriculum')
        li.active: a(data-link='portfolio', data-lang='menu#portfolio')
        li: a(data-link='projects', data-lang='menu#projects')
        li: a(data-link='contacts', data-lang='menu#contacts')

    #locale
        a(data-locale='en') eng
        &nbsp; | &nbsp;
        a(data-locale='it') ita