// Company: Eureka²
// Developer: Stefano Graziato
// Email: stefano.graziato@eurekaa.it
// Homepage: http://www.eurekaa.it
// GitHub: https://github.com/eurekaa

// File Name: menu
// Created: 22/08/13 1.55


body
    ul
        li: a(data-page='eurekaa', data-i18n='menu/eurekaa')
        li: a(data-page='services', data-i18n='menu/services')
        li: a(data-page='curriculum', data-i18n='menu/curriculum')
        li.active: a(data-page='portfolio', data-i18n='menu/portfolio')
        li: a(data-page='projects', data-i18n='menu/projects')
        li: a(data-page='contacts', data-i18n='menu/contacts')

    #locale
        a(data-locale='en') eng
        &nbsp; | &nbsp;
        a(data-locale='it') ita