// Company: Eureka²
// Developer: Stefano Graziato
// Email: stefano.graziato@eurekaa.it
// Homepage: http://www.eurekaa.it
// GitHub: https://github.com/eurekaa

// File Name: curriculum
// Created: 21/08/13 23.02

body
    p(data-i18n='portfolio/main')