// Company: Eureka²
// Developer: Stefano Graziato
// Email: stefano.graziato@eurekaa.it
// Homepage: http://www.eurekaa.it
// GitHub: https://github.com/eurekaa

// File Name: index
// Created: 17/08/13 18.43

doctype 5
html(lang="it")
    head
        title eurekaa.it

        // import require.js
        script(type='text/javascript', src='require.js', data-main='scripts/index')

    body

        #header
            img(id='logo_rubik', src='images/logo_rubik.png')
            img(id='logo_eurekaa', src='images/logo_eurekaa.png')

        #stripe
            img(id='keyboard', src='images/keyboard.png')

        nav(id='navigator')

        #main

        #footer




