// Company: Eureka²
// Developer: Stefano Graziato
// Email: stefano.graziato@eurekaa.it
// Homepage: http://www.eurekaa.it
// GitHub: https://github.com/eurekaa

// File Name: index
// Created: 17/08/13 18.43

doctype 5
html(lang="it")
    head
        title eurekaa.it
        // responsive design activation.
        meta(name='viewport', content='width=device-width', initial-scale='1.0')
        // import require.js
        script(src='require.js', data-main='scripts/index')
    body
        #layout
            #header
                img#logo_rubik(src='media/images/logo_rubik.png')
                img#logo_eurekaa(src='media/images/logo_eurekaa.png')
            #stripe: img#keyboard(src='media/images/keyboard.png')
            nav#menu
            #main
                h1 Eurekaa:
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nulla turpis, rutrum eu vulputate ac, iaculis vel orci. Phasellus accumsan ligula nisl, id pellentesque lectus pulvinar non. Sed ultricies mollis pulvinar. Phasellus varius fermentum est, in dignissim massa porttitor ut. Duis tempor convallis arcu, sit amet aliquam nibh congue non. Cras consequat, neque a gravida condimentum, eros massa elementum erat, ac dictum turpis mauris vitae ligula. Suspendisse lacinia iaculis elementum. Etiam blandit eros eu feugiat tincidunt. Aliquam quis suscipit enim, eu fringilla lacus. Morbi risus orci, dictum in nunc non, blandit ultrices velit. Cras placerat id turpis vitae dictum. Pellentesque ut orci gravida tellus ultrices fringilla. Vivamus quis varius enim. Cras nec mauris vitae metus lobortis fringilla a quis urna.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nulla turpis, rutrum eu vulputate ac, iaculis vel orci. Phasellus accumsan ligula nisl, id pellentesque lectus pulvinar non. Sed ultricies mollis pulvinar. Phasellus varius fermentum est, in dignissim massa porttitor ut. Duis tempor convallis arcu, sit amet aliquam nibh congue non. Cras consequat, neque a gravida condimentum, eros massa elementum erat, ac dictum turpis mauris vitae ligula. Suspendisse lacinia iaculis elementum. Etiam blandit eros eu feugiat tincidunt. Aliquam quis suscipit enim, eu fringilla lacus. Morbi risus orci, dictum in nunc non, blandit ultrices velit. Cras placerat id turpis vitae dictum. Pellentesque ut orci gravida tellus ultrices fringilla. Vivamus quis varius enim. Cras nec mauris vitae metus lobortis fringilla a quis urna.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nulla turpis, rutrum eu vulputate ac, iaculis vel orci. Phasellus accumsan ligula nisl, id pellentesque lectus pulvinar non. Sed ultricies mollis pulvinar. Phasellus varius fermentum est, in dignissim massa porttitor ut. Duis tempor convallis arcu, sit amet aliquam nibh congue non. Cras consequat, neque a gravida condimentum, eros massa elementum erat, ac dictum turpis mauris vitae ligula. Suspendisse lacinia iaculis elementum. Etiam blandit eros eu feugiat tincidunt. Aliquam quis suscipit enim, eu fringilla lacus. Morbi risus orci, dictum in nunc non, blandit ultrices velit. Cras placerat id turpis vitae dictum. Pellentesque ut orci gravida tellus ultrices fringilla. Vivamus quis varius enim. Cras nec mauris vitae metus lobortis fringilla a quis urna.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nulla turpis, rutrum eu vulputate ac, iaculis vel orci. Phasellus accumsan ligula nisl, id pellentesque lectus pulvinar non. Sed ultricies mollis pulvinar. Phasellus varius fermentum est, in dignissim massa porttitor ut. Duis tempor convallis arcu, sit amet aliquam nibh congue non. Cras consequat, neque a gravida condimentum, eros massa elementum erat, ac dictum turpis mauris vitae ligula. Suspendisse lacinia iaculis elementum. Etiam blandit eros eu feugiat tincidunt. Aliquam quis suscipit enim, eu fringilla lacus. Morbi risus orci, dictum in nunc non, blandit ultrices velit. Cras placerat id turpis vitae dictum. Pellentesque ut orci gravida tellus ultrices fringilla. Vivamus quis varius enim. Cras nec mauris vitae metus lobortis fringilla a quis urna.