// Company: Eureka²
// Developer: Stefano Graziato
// Email: stefano.graziato@eurekaa.it
// Homepage: http://www.eurekaa.it
// GitHub: https://github.com/eurekaa

// File Name: index
// Created: 17/08/13 18.43

doctype 5
html
    head
        title eurekaa.it
        meta(name='viewport', content='width=device-width', initial-scale='1.0')
        script(src='require.js', data-main='scripts/index')
    body
        #layout
            #header
                img#logo_rubik(src='media/images/logo_rubik.png')
                img#logo_eurekaa(src='media/images/logo_eurekaa.png')
            #stripe
                img#keyboard(src='media/images/keyboard.png')
            #menu: ul
                li.active: a(data-lang='menu#eurekaa', data-link='eurekaa')
                li: a(data-lang='menu#services', data-link='services')
                li: a(data-lang='menu#curriculum', data-link='curriculum', data-widget='curriculum')
                li: a(data-lang='menu#portfolio', data-link='portfolio')
                li: a(data-lang='menu#projects', data-link='projects')
                li: a(data-lang='menu#contacts', data-link='contacts')
                #localizer
                    a(data-locale='en') eng 
                    span &nbsp;|&nbsp; 
                    a(data-locale='it') ita
            #breadcrumber: h1 Eurekaa
            #slider
