// Company: Eureka²
// Developer: Stefano Graziato
// Email: stefano.graziato@eurekaa.it
// Homepage: http://www.eurekaa.it
// GitHub: https://github.com/eurekaa/espreXXo.js.git

// File Name: index
// Created: 17/08/13 18.43

doctype 5
html
    head
        title espreXXo.js
        meta(name='viewport', content='width=device-width', initial-scale='1.0')
        script(src='scripts/libs/jarvix/index.js', data-config='config/jarvix', data-ready='espreXXo')
    
    body(style='background-color: #2F2F2F')
        
        #layout
            
            header#header 
                img#logo_rubik(src='media/images/logo_rubik.png')
            
            #mocha