// Company: Eureka²
// Developer: Stefano Graziato
// Email: stefano.graziato@eurekaa.it
// Homepage: http://www.eurekaa.it
// GitHub: https://github.com/eurekaa

// File Name: index
// Created: 17/08/13 18.43

doctype 5
html
    head
        title eurekaa.it
        meta(name='viewport', content='width=device-width', initial-scale='1.0')
        script(src='require.js', data-main='scripts/index')
    body
        #layout
            #header
                img#logo_rubik(src='media/images/logo_rubik.png')
                img#logo_eurekaa(src='media/images/logo_eurekaa.png')
            #stripe
                img#keyboard(src='media/images/keyboard.png')
            nav
            #localizer
            #breadcrumber: h1 Eurekaa
            #slider(data-page='eurekaa')
