body{
    background-image: url('../images/background.jpg');
    color: #ffffff;
}


#logo_rubik{
    display: block;
    width: 229px;
    height: 228px;
    background-image: url('../images/logo_rubik.png');
}